<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Student Enrolled</title>
</head>
<body>
    
    <h1>New Student Enrolled!</h1>
    
    <p>Student Id: <%= studentId %></p>
    <p>Student Name: <%= studentName %></p>
    <p>Contract ID: <%= contractID %></p>
</body>
</html>