<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Educational Records</title>
</head>
<body>
    <h1>Search for student </h1>
    <form action="/certificate" method="POST" enctype="multipart/form-data">
        <label>Student ID</label>
        <input type="text" name="studentId">
        <br><br>
      
        <input type="submit" value = "Submit">
    </form>

</body>
</html>